.pp-icon {
    /* Add your styling for the pause/play icon */
    cursor: pointer;
  }

@media (max-width: 600px) {
   
    .test {
      /* Adjust styles for smaller screens */
      width: 30%;
    }
  
    .test2 {
      width: 30%;
    }

    .test3{
        width: 50%;
        justify-content: center;
        align-items: center;

    }

  }