.pp-icon {
    /* Add your styling for the pause/play icon */
    cursor: pointer;
  }
 
  .slider{
    accent-color: #4CAF50; /* Set the desired color for the label */
    font-weight: bold; /* Optionally set other styles */
  }

@media (max-width: 600px) {
   
    

  }